<?xml version='1.0' encoding='utf-8'?>
<!--By the software team of UOMSystemX-->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name = "hibernate.connection.url">jdbc:sqlite:Database.db</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name = "hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>